* {
  box-sizing: border-box;
}
body {
  background-image: url("11.jpeg");

  font-family: "Open Sans", arial;
}
.tabletime {
  width: 100%;
  max-width: 95%;
  height: 320px;
  border-collapse: collapse;
  border: 1px solid #e822d1;
  margin: auto;
  background: white;
  table-layout: fixed;
}
.tableenroll {
  width: 100%;
  max-width: 700px;
  height: 320px;
  border-collapse: collapse;
  border: 1px solid #e822d1;
  margin: auto;
  table-layout: auto;
  background: white;
  text-align: center;
}
th {
  background: #44433b;
  height: 54px;
  font-weight: lighter;
  color: white;
  border: 1px solid #e822d1;
  box-shadow: inset 0px 1px 2px #ff56ff;
}
tr {
  border-bottom: 1px solid #cccccc;
}
tr:last-child {
  border-bottom: 0px;
}
td {
  border-right: 1px solid #cccccc;
  padding: 10px;
  transition: all 0.2s;
}
td.day{
  color: #ffffff;
  background: #44433b;
  font-weight: lighter;
  border: 1px solid #e822d1;
   box-shadow: inset 0px 1px 2px #ff56ff;
   text-align: center;
}
td.subject{
  color: #ffffff;
  background: #e822d1;
  font-weight: lighter;
   text-align: center;
}
td:last-child {
  border-right: 0px;
}

.heavyTable {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: float 5s infinite;
}
h1 {
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}




/* nevbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e822d1;
    background-color: #44433b;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #e822d1;
}
/*Gallery */
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: fixed;
}

div.desc {
    padding: 15px;
    text-align: center;
}